<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Top News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- The following header is only for iOS, except that we set the mode to be iOS specifically,
  in which case it will also work for Android (and in this case, the previous ion-header above will not work -->
  <ion-header collapse="condense" mode="ios" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Top News</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-articles [articles]="articles"></app-articles>

  <ion-infinite-scroll
    threshold="25%"
    position="bottom"
    (ionInfinite)="loadData()">

    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

<!--  <app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>
